div {
    background-color: #fff!important;
}
span {
    display: block;
}
.subtitle {
    display: flex;
    justify-content: center;
}
.subtitle > span {
    margin: auto 2px;
}
.row {
    flex-direction: column;
    align-items: stretch;
}
.col {
    flex-basis: auto;
    width: 100%;
}
.posts {
    flex-direction: row;
    align-items: stretch;
}
.container {
    max-width: 90vw;
}
.post-text{
    width: 100%;
}
.post-img {
    float: left;
    width: 80%;
    margin: 10px 10%;
}

//margins
.no-margin {
    margin: 0;
}
.default-margin-all {
    margin: 0.5rem auto;
}
.default-margin-bot {
    margin-bottom: 0.5rem;
}

.background-image {
    background-size: contain;
    background-repeat: no-repeat;
}
@media (min-width: 576px) {
    .posts > .col{
        max-width: 50%;
    }
}
@media (min-width: 768px) {
    .row {
        flex-direction: row;
    }
    .post-img {
        margin: 10px;
        max-width: 400px;
    }
    .posts {
        flex-direction: row;
        align-items: stretch;
    }
    .posts > .col{
        max-width: 33.3%;
    }
}
@media (min-width: 992px) {
    .posts > .col{
        max-width: 25%;
    }
}
@media (min-width: 1200px) {
}
